<!-- /views/from.erb -->

<h1>Convert <%=@original_currency%></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
  <li>
    <a href="/<%=@original_currency%>/AED">
      Convert 1 <%=@original_currency%> to AED...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/AFN">
      Convert 1 <%=@original_currency%> to AFN...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/ALL">
      Convert 1 <%=@original_currency%> to ALL...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/AMD">
      Convert 1 <%=@original_currency%> to AMD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/ANG">
      Convert 1 <%=@original_currency%> to ANG...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/AOA">
      Convert 1 <%=@original_currency%> to AOA...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/ARS">
      Convert 1 <%=@original_currency%> to ARS...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/AUD">
      Convert 1 <%=@original_currency%> to AUD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/AWG">
      Convert 1 <%=@original_currency%> to AWG...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/AZN">
      Convert 1 <%=@original_currency%> to AZN...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BAM">
      Convert 1 <%=@original_currency%> to BAM...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BBD">
      Convert 1 <%=@original_currency%> to BBD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BDT">
      Convert 1 <%=@original_currency%> to BDT...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BGN">
      Convert 1 <%=@original_currency%> to BGN...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BHD">
      Convert 1 <%=@original_currency%> to BHD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BIF">
      Convert 1 <%=@original_currency%> to BIF...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BMD">
      Convert 1 <%=@original_currency%> to BMD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BND">
      Convert 1 <%=@original_currency%> to BND...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BOB">
      Convert 1 <%=@original_currency%> to BOB...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BRL">
      Convert 1 <%=@original_currency%> to BRL...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BSD">
      Convert 1 <%=@original_currency%> to BSD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BTC">
      Convert 1 <%=@original_currency%> to BTC...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BTN">
      Convert 1 <%=@original_currency%> to BTN...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BWP">
      Convert 1 <%=@original_currency%> to BWP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BYN">
      Convert 1 <%=@original_currency%> to BYN...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BYR">
      Convert 1 <%=@original_currency%> to BYR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/BZD">
      Convert 1 <%=@original_currency%> to BZD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/CAD">
      Convert 1 <%=@original_currency%> to CAD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/CDF">
      Convert 1 <%=@original_currency%> to CDF...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/CHF">
      Convert 1 <%=@original_currency%> to CHF...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/CLF">
      Convert 1 <%=@original_currency%> to CLF...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/CLP">
      Convert 1 <%=@original_currency%> to CLP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/CNY">
      Convert 1 <%=@original_currency%> to CNY...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/CNH">
      Convert 1 <%=@original_currency%> to CNH...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/COP">
      Convert 1 <%=@original_currency%> to COP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/CRC">
      Convert 1 <%=@original_currency%> to CRC...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/CUC">
      Convert 1 <%=@original_currency%> to CUC...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/CUP">
      Convert 1 <%=@original_currency%> to CUP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/CVE">
      Convert 1 <%=@original_currency%> to CVE...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/CZK">
      Convert 1 <%=@original_currency%> to CZK...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/DJF">
      Convert 1 <%=@original_currency%> to DJF...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/DKK">
      Convert 1 <%=@original_currency%> to DKK...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/DOP">
      Convert 1 <%=@original_currency%> to DOP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/DZD">
      Convert 1 <%=@original_currency%> to DZD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/EGP">
      Convert 1 <%=@original_currency%> to EGP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/ERN">
      Convert 1 <%=@original_currency%> to ERN...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/ETB">
      Convert 1 <%=@original_currency%> to ETB...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/EUR">
      Convert 1 <%=@original_currency%> to EUR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/FJD">
      Convert 1 <%=@original_currency%> to FJD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/FKP">
      Convert 1 <%=@original_currency%> to FKP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/GBP">
      Convert 1 <%=@original_currency%> to GBP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/GEL">
      Convert 1 <%=@original_currency%> to GEL...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/GGP">
      Convert 1 <%=@original_currency%> to GGP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/GHS">
      Convert 1 <%=@original_currency%> to GHS...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/GIP">
      Convert 1 <%=@original_currency%> to GIP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/GMD">
      Convert 1 <%=@original_currency%> to GMD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/GNF">
      Convert 1 <%=@original_currency%> to GNF...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/GTQ">
      Convert 1 <%=@original_currency%> to GTQ...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/GYD">
      Convert 1 <%=@original_currency%> to GYD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/HKD">
      Convert 1 <%=@original_currency%> to HKD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/HNL">
      Convert 1 <%=@original_currency%> to HNL...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/HRK">
      Convert 1 <%=@original_currency%> to HRK...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/HTG">
      Convert 1 <%=@original_currency%> to HTG...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/HUF">
      Convert 1 <%=@original_currency%> to HUF...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/IDR">
      Convert 1 <%=@original_currency%> to IDR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/ILS">
      Convert 1 <%=@original_currency%> to ILS...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/IMP">
      Convert 1 <%=@original_currency%> to IMP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/INR">
      Convert 1 <%=@original_currency%> to INR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/IQD">
      Convert 1 <%=@original_currency%> to IQD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/IRR">
      Convert 1 <%=@original_currency%> to IRR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/ISK">
      Convert 1 <%=@original_currency%> to ISK...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/JEP">
      Convert 1 <%=@original_currency%> to JEP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/JMD">
      Convert 1 <%=@original_currency%> to JMD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/JOD">
      Convert 1 <%=@original_currency%> to JOD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/JPY">
      Convert 1 <%=@original_currency%> to JPY...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/KES">
      Convert 1 <%=@original_currency%> to KES...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/KGS">
      Convert 1 <%=@original_currency%> to KGS...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/KHR">
      Convert 1 <%=@original_currency%> to KHR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/KMF">
      Convert 1 <%=@original_currency%> to KMF...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/KPW">
      Convert 1 <%=@original_currency%> to KPW...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/KRW">
      Convert 1 <%=@original_currency%> to KRW...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/KWD">
      Convert 1 <%=@original_currency%> to KWD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/KYD">
      Convert 1 <%=@original_currency%> to KYD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/KZT">
      Convert 1 <%=@original_currency%> to KZT...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/LAK">
      Convert 1 <%=@original_currency%> to LAK...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/LBP">
      Convert 1 <%=@original_currency%> to LBP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/LKR">
      Convert 1 <%=@original_currency%> to LKR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/LRD">
      Convert 1 <%=@original_currency%> to LRD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/LSL">
      Convert 1 <%=@original_currency%> to LSL...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/LTL">
      Convert 1 <%=@original_currency%> to LTL...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/LVL">
      Convert 1 <%=@original_currency%> to LVL...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/LYD">
      Convert 1 <%=@original_currency%> to LYD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MAD">
      Convert 1 <%=@original_currency%> to MAD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MDL">
      Convert 1 <%=@original_currency%> to MDL...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MGA">
      Convert 1 <%=@original_currency%> to MGA...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MKD">
      Convert 1 <%=@original_currency%> to MKD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MMK">
      Convert 1 <%=@original_currency%> to MMK...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MNT">
      Convert 1 <%=@original_currency%> to MNT...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MOP">
      Convert 1 <%=@original_currency%> to MOP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MRU">
      Convert 1 <%=@original_currency%> to MRU...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MUR">
      Convert 1 <%=@original_currency%> to MUR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MVR">
      Convert 1 <%=@original_currency%> to MVR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MWK">
      Convert 1 <%=@original_currency%> to MWK...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MXN">
      Convert 1 <%=@original_currency%> to MXN...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MYR">
      Convert 1 <%=@original_currency%> to MYR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/MZN">
      Convert 1 <%=@original_currency%> to MZN...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/NAD">
      Convert 1 <%=@original_currency%> to NAD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/NGN">
      Convert 1 <%=@original_currency%> to NGN...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/NIO">
      Convert 1 <%=@original_currency%> to NIO...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/NOK">
      Convert 1 <%=@original_currency%> to NOK...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/NPR">
      Convert 1 <%=@original_currency%> to NPR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/NZD">
      Convert 1 <%=@original_currency%> to NZD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/OMR">
      Convert 1 <%=@original_currency%> to OMR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/PAB">
      Convert 1 <%=@original_currency%> to PAB...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/PEN">
      Convert 1 <%=@original_currency%> to PEN...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/PGK">
      Convert 1 <%=@original_currency%> to PGK...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/PHP">
      Convert 1 <%=@original_currency%> to PHP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/PKR">
      Convert 1 <%=@original_currency%> to PKR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/PLN">
      Convert 1 <%=@original_currency%> to PLN...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/PYG">
      Convert 1 <%=@original_currency%> to PYG...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/QAR">
      Convert 1 <%=@original_currency%> to QAR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/RON">
      Convert 1 <%=@original_currency%> to RON...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/RSD">
      Convert 1 <%=@original_currency%> to RSD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/RUB">
      Convert 1 <%=@original_currency%> to RUB...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/RWF">
      Convert 1 <%=@original_currency%> to RWF...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SAR">
      Convert 1 <%=@original_currency%> to SAR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SBD">
      Convert 1 <%=@original_currency%> to SBD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SCR">
      Convert 1 <%=@original_currency%> to SCR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SDG">
      Convert 1 <%=@original_currency%> to SDG...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SEK">
      Convert 1 <%=@original_currency%> to SEK...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SGD">
      Convert 1 <%=@original_currency%> to SGD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SHP">
      Convert 1 <%=@original_currency%> to SHP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SLE">
      Convert 1 <%=@original_currency%> to SLE...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SLL">
      Convert 1 <%=@original_currency%> to SLL...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SOS">
      Convert 1 <%=@original_currency%> to SOS...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SRD">
      Convert 1 <%=@original_currency%> to SRD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/STD">
      Convert 1 <%=@original_currency%> to STD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SVC">
      Convert 1 <%=@original_currency%> to SVC...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SYP">
      Convert 1 <%=@original_currency%> to SYP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/SZL">
      Convert 1 <%=@original_currency%> to SZL...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/THB">
      Convert 1 <%=@original_currency%> to THB...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/TJS">
      Convert 1 <%=@original_currency%> to TJS...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/TMT">
      Convert 1 <%=@original_currency%> to TMT...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/TND">
      Convert 1 <%=@original_currency%> to TND...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/TOP">
      Convert 1 <%=@original_currency%> to TOP...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/TRY">
      Convert 1 <%=@original_currency%> to TRY...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/TTD">
      Convert 1 <%=@original_currency%> to TTD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/TWD">
      Convert 1 <%=@original_currency%> to TWD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/TZS">
      Convert 1 <%=@original_currency%> to TZS...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/UAH">
      Convert 1 <%=@original_currency%> to UAH...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/UGX">
      Convert 1 <%=@original_currency%> to UGX...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/USD">
      Convert 1 <%=@original_currency%> to USD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/UYU">
      Convert 1 <%=@original_currency%> to UYU...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/UZS">
      Convert 1 <%=@original_currency%> to UZS...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/VEF">
      Convert 1 <%=@original_currency%> to VEF...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/VES">
      Convert 1 <%=@original_currency%> to VES...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/VND">
      Convert 1 <%=@original_currency%> to VND...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/VUV">
      Convert 1 <%=@original_currency%> to VUV...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/WST">
      Convert 1 <%=@original_currency%> to WST...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/XAF">
      Convert 1 <%=@original_currency%> to XAF...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/XAG">
      Convert 1 <%=@original_currency%> to XAG...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/XAU">
      Convert 1 <%=@original_currency%> to XAU...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/XCD">
      Convert 1 <%=@original_currency%> to XCD...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/XDR">
      Convert 1 <%=@original_currency%> to XDR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/XOF">
      Convert 1 <%=@original_currency%> to XOF...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/XPF">
      Convert 1 <%=@original_currency%> to XPF...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/YER">
      Convert 1 <%=@original_currency%> to YER...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/ZAR">
      Convert 1 <%=@original_currency%> to ZAR...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/ZMK">
      Convert 1 <%=@original_currency%> to ZMK...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/ZMW">
      Convert 1 <%=@original_currency%> to ZMW...
    </a>
  </li>
  <li>
    <a href="/<%=@original_currency%>/ZWL">
      Convert 1 <%=@original_currency%> to ZWL...
    </a>
  </li>
</ul>
